body {
    background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../Images/abstract-1231877.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.typed-cursor {
    display: none;
}
section {
    width: 60%;
    margin: auto;
}
.contain {
    background-color: rgba(255, 255, 255, 0.349);
}
.image {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border: 1px solid white;
}

h1 {
    width: fit-content;
    font-size: 70px;
    color: black;
    text-shadow: (0 0 10px white);
}

.logOut {
    background-color: white;
    color: rgb(8, 86, 105);
    border: 0;
    font-size: 30px;
    font-weight: 700;
    border: 1px solid rgba(11, 171, 211, 0.452);
    transition: 0.5s;
}
.logOut:hover {
    background-color: rgb(10, 116, 143);
    color: white;
    border: 0;
    font-size: 30px;
    font-weight: 700;
    border: 1px solid white;
    filter: drop-shadow(0 0 10px white);
}

@media screen and ( max-width:1200px ) {
    section {width: 70%;}
}
@media screen and ( max-width:900px ) {
    section {width: 80%;}
    body {
        font-size: 14px;
    }
}
@media screen and ( max-width:767px ) {
    section {width: 85%;}
    
    h1 {
        
        font-size: 50px;
        
    }
    .logOut{
        font-size: 30px;
    }
}
@media screen and ( max-width:575px ){
    h1 {
        
        font-size: 35px;
        
    }
    .logOut{
        font-size: 25px;
    }
    .image {
        width: 110px;
        height: 110px;
        
    }
}
@media screen and ( max-width:320px ){
    h1 {    
        font-size: 35px;
    }
    .logOut{
        font-size: 20px;
    }
}
